--
-- PostgreSQL database dump
--

-- Dumped from database version 13.4
-- Dumped by pg_dump version 13.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: pgrouting; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgrouting WITH SCHEMA public;


--
-- Name: EXTENSION pgrouting; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgrouting IS 'pgRouting Extension';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: rede_l; Type: TABLE; Schema: public; Owner: marotta
--

CREATE TABLE public.rede_l (
    id integer NOT NULL,
    the_geom public.geometry(LineString,31983),
    source integer,
    target integer,
    vertice_medio integer
);


ALTER TABLE public.rede_l OWNER TO marotta;

--
-- Name: rede_renoded_l_vertices_pgr; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rede_renoded_l_vertices_pgr (
    id bigint NOT NULL,
    cnt integer,
    chk integer,
    ein integer,
    eout integer,
    the_geom public.geometry(Point,31983),
    id_edge integer
);


ALTER TABLE public.rede_renoded_l_vertices_pgr OWNER TO postgres;

--
-- Name: rede_l_analises; Type: MATERIALIZED VIEW; Schema: public; Owner: postgres
--

CREATE MATERIALIZED VIEW public.rede_l_analises AS
 SELECT rede_l.id,
    rede_l.the_geom,
    rede_l.source,
    rede_l.target,
    rede_l.vertice_medio,
    ligacoes_diretas.ligacoes_diretas,
    mais_distante.distancia AS passos_mais_distante,
    total_ligacoes.total_ligacoes
   FROM (((public.rede_l
     LEFT JOIN ( SELECT subq.id_edge_start,
            sum(subq.distancia) AS ligacoes_diretas
           FROM ( SELECT start_vid.id_edge AS id_edge_start,
                    end_vid.id_edge AS id_edge_end,
                    (matrix.agg_cost / (2)::double precision) AS distancia
                   FROM ((public.pgr_dijkstracostmatrix('SELECT id, source::INT4, target::INT4, 1 AS cost, 1 AS reverse_cost FROM rede_renoded_l'::text, ( SELECT array_agg(rede_l_1.vertice_medio) AS array_agg
                           FROM public.rede_l rede_l_1
                          WHERE (rede_l_1.vertice_medio IS NOT NULL))) matrix(start_vid, end_vid, agg_cost)
                     LEFT JOIN public.rede_renoded_l_vertices_pgr start_vid ON ((start_vid.id = matrix.start_vid)))
                     LEFT JOIN public.rede_renoded_l_vertices_pgr end_vid ON ((end_vid.id = matrix.end_vid)))) subq
          WHERE (subq.distancia <= (1)::double precision)
          GROUP BY subq.id_edge_start) ligacoes_diretas ON ((ligacoes_diretas.id_edge_start = rede_l.id)))
     LEFT JOIN ( SELECT DISTINCT ON (start_vid.id_edge) start_vid.id_edge AS id_edge_start,
            end_vid.id_edge AS id_edge_end,
            (matrix.agg_cost / (2)::double precision) AS distancia
           FROM ((public.pgr_dijkstracostmatrix('SELECT id, source::INT4, target::INT4, 1 AS cost, 1 AS reverse_cost FROM rede_renoded_l'::text, ( SELECT array_agg(rede_l_1.vertice_medio) AS array_agg
                   FROM public.rede_l rede_l_1
                  WHERE (rede_l_1.vertice_medio IS NOT NULL))) matrix(start_vid, end_vid, agg_cost)
             LEFT JOIN public.rede_renoded_l_vertices_pgr start_vid ON ((start_vid.id = matrix.start_vid)))
             LEFT JOIN public.rede_renoded_l_vertices_pgr end_vid ON ((end_vid.id = matrix.end_vid)))
          ORDER BY start_vid.id_edge, (matrix.agg_cost / (2)::double precision) DESC) mais_distante ON ((mais_distante.id_edge_start = rede_l.id)))
     LEFT JOIN ( SELECT subq.id_edge_start,
            sum(subq.n_ligacoes_ponderadas) AS total_ligacoes
           FROM ( SELECT subq_1.id_edge_start,
                    subq_1.distancia AS ordem,
                    count(subq_1.id_edge_start) AS n_ligacoes,
                    ((count(subq_1.id_edge_start))::double precision * subq_1.distancia) AS n_ligacoes_ponderadas
                   FROM ( SELECT start_vid.id_edge AS id_edge_start,
                            end_vid.id_edge AS id_edge_end,
                            (matrix.agg_cost / (2)::double precision) AS distancia
                           FROM ((public.pgr_dijkstracostmatrix('SELECT id, source::INT4, target::INT4, 1 AS cost, 1 AS reverse_cost FROM rede_renoded_l'::text, ( SELECT array_agg(rede_l_1.vertice_medio) AS array_agg
                                   FROM public.rede_l rede_l_1
                                  WHERE (rede_l_1.vertice_medio IS NOT NULL))) matrix(start_vid, end_vid, agg_cost)
                             LEFT JOIN public.rede_renoded_l_vertices_pgr start_vid ON ((start_vid.id = matrix.start_vid)))
                             LEFT JOIN public.rede_renoded_l_vertices_pgr end_vid ON ((end_vid.id = matrix.end_vid)))) subq_1
                  GROUP BY subq_1.id_edge_start, subq_1.distancia
                  ORDER BY subq_1.id_edge_start, subq_1.distancia) subq
          GROUP BY subq.id_edge_start) total_ligacoes ON ((total_ligacoes.id_edge_start = rede_l.id)))
  WITH NO DATA;


ALTER TABLE public.rede_l_analises OWNER TO postgres;

--
-- Name: rede_l_id_seq; Type: SEQUENCE; Schema: public; Owner: marotta
--

CREATE SEQUENCE public.rede_l_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rede_l_id_seq OWNER TO marotta;

--
-- Name: rede_l_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: marotta
--

ALTER SEQUENCE public.rede_l_id_seq OWNED BY public.rede_l.id;


--
-- Name: rede_l_vertices_pgr; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rede_l_vertices_pgr (
    id bigint NOT NULL,
    cnt integer,
    chk integer,
    ein integer,
    eout integer,
    the_geom public.geometry(Point,31983)
);


ALTER TABLE public.rede_l_vertices_pgr OWNER TO postgres;

--
-- Name: rede_l_vertices_pgr_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rede_l_vertices_pgr_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rede_l_vertices_pgr_id_seq OWNER TO postgres;

--
-- Name: rede_l_vertices_pgr_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rede_l_vertices_pgr_id_seq OWNED BY public.rede_l_vertices_pgr.id;


--
-- Name: rede_mid_nodes_p; Type: TABLE; Schema: public; Owner: marotta
--

CREATE TABLE public.rede_mid_nodes_p (
    id_0 integer NOT NULL,
    geom public.geometry(Point,31983),
    fid bigint,
    id integer,
    source integer,
    target integer
);


ALTER TABLE public.rede_mid_nodes_p OWNER TO marotta;

--
-- Name: rede_mid_nodes_p_id_0_seq; Type: SEQUENCE; Schema: public; Owner: marotta
--

CREATE SEQUENCE public.rede_mid_nodes_p_id_0_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rede_mid_nodes_p_id_0_seq OWNER TO marotta;

--
-- Name: rede_mid_nodes_p_id_0_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: marotta
--

ALTER SEQUENCE public.rede_mid_nodes_p_id_0_seq OWNED BY public.rede_mid_nodes_p.id_0;


--
-- Name: rede_renoded_l; Type: TABLE; Schema: public; Owner: marotta
--

CREATE TABLE public.rede_renoded_l (
    the_geom public.geometry(LineString,31983),
    id_edge integer,
    source integer,
    target integer,
    id integer NOT NULL
);


ALTER TABLE public.rede_renoded_l OWNER TO marotta;

--
-- Name: rede_renoded_l_id_seq; Type: SEQUENCE; Schema: public; Owner: marotta
--

CREATE SEQUENCE public.rede_renoded_l_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rede_renoded_l_id_seq OWNER TO marotta;

--
-- Name: rede_renoded_l_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: marotta
--

ALTER SEQUENCE public.rede_renoded_l_id_seq OWNED BY public.rede_renoded_l.id;


--
-- Name: rede_renoded_l_vertices_pgr_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rede_renoded_l_vertices_pgr_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rede_renoded_l_vertices_pgr_id_seq OWNER TO postgres;

--
-- Name: rede_renoded_l_vertices_pgr_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rede_renoded_l_vertices_pgr_id_seq OWNED BY public.rede_renoded_l_vertices_pgr.id;


--
-- Name: rede_l id; Type: DEFAULT; Schema: public; Owner: marotta
--

ALTER TABLE ONLY public.rede_l ALTER COLUMN id SET DEFAULT nextval('public.rede_l_id_seq'::regclass);


--
-- Name: rede_l_vertices_pgr id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rede_l_vertices_pgr ALTER COLUMN id SET DEFAULT nextval('public.rede_l_vertices_pgr_id_seq'::regclass);


--
-- Name: rede_mid_nodes_p id_0; Type: DEFAULT; Schema: public; Owner: marotta
--

ALTER TABLE ONLY public.rede_mid_nodes_p ALTER COLUMN id_0 SET DEFAULT nextval('public.rede_mid_nodes_p_id_0_seq'::regclass);


--
-- Name: rede_renoded_l id; Type: DEFAULT; Schema: public; Owner: marotta
--

ALTER TABLE ONLY public.rede_renoded_l ALTER COLUMN id SET DEFAULT nextval('public.rede_renoded_l_id_seq'::regclass);


--
-- Name: rede_renoded_l_vertices_pgr id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rede_renoded_l_vertices_pgr ALTER COLUMN id SET DEFAULT nextval('public.rede_renoded_l_vertices_pgr_id_seq'::regclass);


--
-- Data for Name: rede_l; Type: TABLE DATA; Schema: public; Owner: marotta
--



--
-- Data for Name: rede_l_vertices_pgr; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: rede_mid_nodes_p; Type: TABLE DATA; Schema: public; Owner: marotta
--



--
-- Data for Name: rede_renoded_l; Type: TABLE DATA; Schema: public; Owner: marotta
--



--
-- Data for Name: rede_renoded_l_vertices_pgr; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Name: rede_l_id_seq; Type: SEQUENCE SET; Schema: public; Owner: marotta
--

SELECT pg_catalog.setval('public.rede_l_id_seq', 370, true);


--
-- Name: rede_l_vertices_pgr_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rede_l_vertices_pgr_id_seq', 266, true);


--
-- Name: rede_mid_nodes_p_id_0_seq; Type: SEQUENCE SET; Schema: public; Owner: marotta
--

SELECT pg_catalog.setval('public.rede_mid_nodes_p_id_0_seq', 370, true);


--
-- Name: rede_renoded_l_id_seq; Type: SEQUENCE SET; Schema: public; Owner: marotta
--

SELECT pg_catalog.setval('public.rede_renoded_l_id_seq', 1110, true);


--
-- Name: rede_renoded_l_vertices_pgr_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rede_renoded_l_vertices_pgr_id_seq', 636, true);


--
-- Name: rede_l rede_l_pkey; Type: CONSTRAINT; Schema: public; Owner: marotta
--

ALTER TABLE ONLY public.rede_l
    ADD CONSTRAINT rede_l_pkey PRIMARY KEY (id);


--
-- Name: rede_l_vertices_pgr rede_l_vertices_pgr_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rede_l_vertices_pgr
    ADD CONSTRAINT rede_l_vertices_pgr_pkey PRIMARY KEY (id);


--
-- Name: rede_mid_nodes_p rede_mid_nodes_p_pkey; Type: CONSTRAINT; Schema: public; Owner: marotta
--

ALTER TABLE ONLY public.rede_mid_nodes_p
    ADD CONSTRAINT rede_mid_nodes_p_pkey PRIMARY KEY (id_0);


--
-- Name: rede_renoded_l rede_renoded_l_pkey; Type: CONSTRAINT; Schema: public; Owner: marotta
--

ALTER TABLE ONLY public.rede_renoded_l
    ADD CONSTRAINT rede_renoded_l_pkey PRIMARY KEY (id);


--
-- Name: rede_renoded_l_vertices_pgr rede_renoded_l_vertices_pgr_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rede_renoded_l_vertices_pgr
    ADD CONSTRAINT rede_renoded_l_vertices_pgr_pkey PRIMARY KEY (id);


--
-- Name: rede_l_source_idx; Type: INDEX; Schema: public; Owner: marotta
--

CREATE INDEX rede_l_source_idx ON public.rede_l USING btree (source);


--
-- Name: rede_l_target_idx; Type: INDEX; Schema: public; Owner: marotta
--

CREATE INDEX rede_l_target_idx ON public.rede_l USING btree (target);


--
-- Name: rede_l_the_geom_idx; Type: INDEX; Schema: public; Owner: marotta
--

CREATE INDEX rede_l_the_geom_idx ON public.rede_l USING gist (the_geom);


--
-- Name: rede_l_vertices_pgr_the_geom_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rede_l_vertices_pgr_the_geom_idx ON public.rede_l_vertices_pgr USING gist (the_geom);


--
-- Name: rede_renoded_l_source_idx; Type: INDEX; Schema: public; Owner: marotta
--

CREATE INDEX rede_renoded_l_source_idx ON public.rede_renoded_l USING btree (source);


--
-- Name: rede_renoded_l_target_idx; Type: INDEX; Schema: public; Owner: marotta
--

CREATE INDEX rede_renoded_l_target_idx ON public.rede_renoded_l USING btree (target);


--
-- Name: rede_renoded_l_the_geom_idx; Type: INDEX; Schema: public; Owner: marotta
--

CREATE INDEX rede_renoded_l_the_geom_idx ON public.rede_renoded_l USING gist (the_geom);


--
-- Name: rede_renoded_l_vertices_pgr_the_geom_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rede_renoded_l_vertices_pgr_the_geom_idx ON public.rede_renoded_l_vertices_pgr USING gist (the_geom);


--
-- Name: rede_l_analises; Type: MATERIALIZED VIEW DATA; Schema: public; Owner: postgres
--

REFRESH MATERIALIZED VIEW public.rede_l_analises;


--
-- PostgreSQL database dump complete
--

